.modal-parent {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  gap: 0.25em;
  flex-direction: column;
  flex: 1;
  inset: 0;
  backdrop-filter: blur(1px);
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content {
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  z-index: 1000001;
  overflow-y: scroll;
  /* background-color: rgba(10, 168, 31, 0.692); */
  background: rgba(82, 179, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}

.closing-cross {
  position: absolute;
  top: 1%;
  right: 3%;
  font-size: 1.5rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cinzel Decorative', cursive;
}

.modal-external-content {
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  align-items: center;
  text-align: center;

}

@media screen and (max-width:1000px) {
  .modal-content {
    width: 60%;
  }

}

@media screen and (max-width:780px) {
  .modal-content {
    width: 70%;
  }

}

@media screen and (max-width:580px) {
  .modal-content {
    width: 80%;
  }

}

@media screen and (max-width:380px) {
  .modal-content {
    width: 90%;
  }

}